/* FONTS */
	@font-face {
		font-family: 'Homenaje';
		font-style: normal;
		font-weight: 400;
		src: url('/admin/fonts/homenaje.woff2') format('woff2'), url('/admin/fonts/homenaje.woff') format('woff');
	}

	@font-face {
		font-family: 'Karla';
		font-style: normal;
		font-weight: 400;
		src: url('/admin/fonts/karla.woff2') format('woff2'), url('/admin/fonts/karla.woff') format('woff');
	}

	@font-face {
		font-family: 'Medula One';
		font-style: normal;
		font-weight: 400;
		src: url('/admin/fonts/medula_one.woff2') format('woff2'), url('/admin/fonts/medula_one.woff') format('woff');
	}
	
		@font-face {
		font-family: 'Special Elite';
		font-style: normal;
		font-weight: 400;
		src: url('/admin/fonts/special_elite.woff2') format('woff2'), url('/admin/fonts/special_elite.woff') format('woff');
	}

	@font-face {
		font-family: 'Stint UC';
		font-style: normal;
		font-weight: 400;
		src: url('/admin/fonts/stint_uc.woff2') format('woff2'), url('/admin/fonts/stint_uc.woff') format('woff');
	}

/* END FONTS */
