/* PRIMARY LAYOUT
	|-html
		|-body	(@z-1)
			|-cont (abs@z-2)
				|-topbar (relative@z-4)
				|-tileset (relative@z-3)
					|1|2 2|3|4|
					|1|5|6|3|7|
					|8|5|9 9|7|
				...
	*/

<?php	
// ROWS & COLUMNS
	$lr1='.8vh';
	$lr2='31.6vh';
	$lr3='62.4vh';
	$lc1='.8%';
	$lc2='20.6%';
	$lc3='40.4%';
	$lc4='60.2%';
	$lc5='80%';
?>
	
	body {
		height:100vh;
		overflow-y:auto;
		overflow-x:hidden;
		width:100vw;
		z-index:1;
	}

	#cont {
		left:5vw;
		margin:0 auto;
		min-height:100vh;
		position:absolute;
		right:5vw;
		top:0;
		z-index:2;
	}
	
	#topbar {
		height:6vh;
		left:0;
		position:fixed;
		top:0;
		width:100%;
		z-index:4;
	}
	
	#back {
		height:2.3rem;
		position:absolute;
		right:.2vw;
		top:.2vh;
		width:11rem;
	}
	
	#main {
		margin-top:7vh;
		z-index:3;
	}

	.tileset {
		height:93.2vh;
		position:relative;
		width:100%;
		z-index:3;
	}
	
	.tile, .rtile, .btile {
		float:left;
		margin:.8vh 0 0 .8%;
		position:relative;
	}
	
	.one {
		clear:left;
		height:60.8vh;
		width:19%;
	}
	
	.two {
		height:30vh;
		width:38.8%;
	}
	
	.three {
		height:60.8vh;
		width:19%;
	}
	
	.four {
		height:30vh;
		width:19%;
	}
	
	.five {
		height:60.8vh;
		margin-left:-78.4%;
		margin-top:31.6vh;
		width:19%;
	}
	
	.six {
		height:30vh;
		margin-left:-58.6%;
		margin-top:31.6vh;
		width:19%;
	}
	
	.seven {
		height:60.8vh;
		width:19%;
	}
	
	.eight {
		height:30vh;
		margin-top:-30vh;
		width:19%;
	}
	
	.nine {
		height:30vh;
		margin-left:40.4%;
		margin-top:-30vh;
		width:38.8%;
	}
	
	.down {
		height:60vh;
		left:12.5%;
		position:absolute;
		top:<?=$lr1?>;
		width:75%;
	}
	
	.down-text {
		height:30vh;
		left:12.5%;
		font-size:2rem;
		font-family:'Special Elite';
		line-height:2.2rem;
		position:absolute;
		text-align:center;
		top:61.6vh;
		width:75%;
	}
	
	#debug {
		position:relative;
	}

/* END PRIMARY LAYOUT */
